<launch>
  <arg name="driver" default="false"/>
  <arg name="limited" default="false"/>
  <arg name="main" default="false"/>

  <!-- Real UR5 Robot Driver -->
  <group if="$(arg driver)">
    <include file="$(find ur_modern_driver)/launch/ur5_bringup.launch">
      <arg name="limited" value="$(arg limited)"/>
      <arg name="robot_ip" value="172.22.22.2"/>
    </include>
  </group>

  <!-- Main ABBP Robot node -->
  <group if="$(arg main)">
    <node pkg="abbp_robot" type="abbp_robot_node" name="abbp_robot_node.py" output="screen"/>
  </group>

</launch>
